* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
  background:linear-gradient(to right,lightblue,lightpink);
  /* background-image: url("https://t3.ftcdn.net/jpg/02/71/06/36/360_F_271063601_bF8ukMjLRIjK72cHpO79NJNY1bgmUACv.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.image-container {
  position: relative;
  width: 225px;
  height: 225px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s;
}
.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-container span img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

btn-container {
  position: relative;
  width: 60%;
  justify-content: space-between;
}
.btn {
  position: absolute;
  /* bottom: 20px; */
  top: 480px;
  background-color: slateblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(1.5);
}
#prev {
  left: 30%;
}
#next {
  right: 30%;
}
